# Dependencies
node_modules

# Dot files
.spago
.psci

# IDE files

# Generated
output
editor-gitignored.js
editor-macroexpanded-gitignored.js
editor-macroexpanded-gitignored.scm

# Dist
dist/style.css
dist/main.js
# dist/*.js # `ag` doesn't ignore `*`'d files in `.gitignore`
